[Unit]
Description=Set random GNOME wallpaper on login
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 5
ExecStart=%h/tools/random_wall.sh

[Install]
WantedBy=graphical-session.target
