[Unit]
Description=Run custom-startup script at startup
After=graphical-session.target

[Service]
Type=oneshot
KillMode=process
ExecStart=%h/tools/custom-startup.sh
StandardOutput=append:/tmp/startup.log
StandardError=append:/tmp/startup.log

[Install]
WantedBy=graphical-session.target
