[Unit]
Description=Run random-wallpaper.service every 12 hours

[Timer]
OnUnitActiveSec=12h
Persistent=true
Unit=random-wallpaper.service

[Install]
WantedBy=timers.target
