[Unit]
Description=Reset input language on suspend, lock, or sleep
Before=suspend.target

[Service]
Type=oneshot
ExecStart=%h/tools/reset-input-lang.sh

[Install]
WantedBy=suspend.target
